body {
	font-family: "Roboto", sans-serif;
	width: 1440px;
	margin: 0 auto 0 auto;
	color: #434455;
}

ul,
h1,
h2,
h3,
h4,
button,
p {
	padding: 0;
	margin: 0;
}

.container-flex {
	display: flex;
	justify-content: space-between;
}

.link {
	text-decoration: none;
}

.list {
	list-style: none;
}

.hidden-title {
	visibility: hidden;
}

.standard-title {
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 8px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

.standard-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

/* header */

header {
	display: flex;
	padding: 0 156px;
	min-height: 72px;
	justify-content: space-between;
}

/* Nav */

.header-nav {
	align-items: center;
}

.title {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
	margin-right: 76px;
}

.title>span {
	color: #2e2f42;
}

.header-nav-li:not(:last-child) {
	margin-right: 40px;
}

.header-nav-a {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

.header-nav-a:hover {
	color: #404bbf;
}

.header-nav-a:focus {
	color: #404bbf;
}

/* Address */

.header-info {
	font-style: normal;
	align-items: center;
}


.header-info-li:not(:last-child) {
	margin-right: 40px;
}

.header-info-a {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

.header-info-a:hover {
	color: #404bbf;
}

.header-info-a:focus {
	color: #404bbf;
}


/* Main */

main>section:not(:last-child) {
	padding: 0 156px;
	margin-bottom: 120px;
}

/* Introduction */

.introduction {
	background-color: #2e2f42;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 600px;
}

.main-title {
	display: flex;
	margin-bottom: 48px;

	width: 500px;
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
	letter-spacing: 0.02em;
	color: #ffffff;
}

.introduction-button {
	padding: 16px 32px;
	background-color: #4d5ae5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;

	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #ffffff;
	cursor: pointer;
}

/* Info-text */

.info-text-li {
	width: 264px;
}

.info-text-li:not(:last-child) {
	margin-right: 24px;
}

/* Info-pictures */

.info-pictures-title {
	margin-bottom: 72px;

	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #2e2f42;
}


/* Team */

.team {
	min-height: 732px;
	padding-top: 120px;
	padding-bottom: 120px;
	background-color: #F4F4FD;
}

.team-title {
	margin-bottom: 72px;

	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	text-transform: capitalize;
	color: #2e2f42;
}

.team-li {
	background-color: #ffffff;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
	text-align: center;
}

.team-container-text {
	margin: 32px auto;
}

/* footer */

.footer {
	background-color: #2e2f42;
	padding: 100px 0 100px 156px;
}

.footer-container-text {
	width: 264px;
}

.footer-title {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
}

.footer-title>span {
	color: #f4f4fd;
}

.footer-text {
	color: #E7E9FC;
	margin-top: 16px;
}




/* portfolio */

.portfolio-nav-button {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #4d5ae5;
	cursor: pointer;
}